/* Phan tich:
header:
    - navigation
        - for shop
        - download
        - social
        - notify
        - help
        - register
        -
    - logo
    - search-bar
    - cart
    - mini-category
slider
content
    - feature
    - banner
    - super-sale
    - category
    - flash-sale
    - mall
    - top-search
    - suggest
footer
    - info
    - list-category

 */


:root {
    --primary-color: #fb5533;
    --text-color: #222222;
    --white-color: #fff;
    --thin-gray-color: #eee;
    --strong-gray-color: #ddd;
    --nav-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--nav-height)); 
    --margin-popup: 8px;
}

.separate-after::after {
    content: "";
    margin-right: 8px;
    padding-right: 8px;
    border-right: solid 2px rgba(255, 255, 255, 0.8);
    /* opacity: 0.4; */
}

.has-bridge-left::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 10px;
    left: 0;
    background-color: transparent;
    margin-top: -10px;
}

.has-bridge-right::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 10px;
    right: 0;
    background-color: transparent;
    margin-top: -10px;
}

.has-arrow::after {
    content: "";
    position: absolute;
    margin-top: -30px;
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent #fff transparent;
    right: 12px;
    top: 0;
}

.btn {
    display: flex;
    font-size: 1.6rem;
    border-radius: 2px;
    padding: 4px 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.btn--normal {
    background-color: var(--thin-gray-color);
    color: var(--text-color);
}

.btn--normal:hover {
    background-color: var(--strong-gray-color);
    color: var(--primary-color);
}

.btn--primary{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn--primary:hover {
    opacity: 0.9;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes growthScale {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}