/* Phan tich:
header:
    - navigation
        - for shop
        - download
        - social
        - notify
        - help
        - register
        -
    - logo
    - search-bar
    - cart
    - mini-category
slider
content
    - feature
    - banner
    - super-sale
    - category
    - flash-sale
    - mall
    - top-search
    - suggest
footer
    - info
    - list-category

 */


:root {
    --primary-color: #fb5533;
    --text-color: #222222;
    --white-color: #fff;
    --nav-height: 34px;
    --header-height: 120px;
    --header-with-search-height: calc(var(--header-height) - var(--nav-height)); 
}

.separate-after::after {
    content: "";
    margin-right: 8px;
    padding-right: 8px;
    border-right: solid 2px #fff;
    opacity: 0.4;
}

.btn {
    display: flex;
    font-size: 1.6rem;
    border-radius: 2px;
    padding: 4px 8px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.primary-btn {
    background-color: var(--primary-color);
    color: var(--white-color);
}