* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

#header {
    background-image: linear-gradient( #f53d2d,#fe6532);
    height: var(--header-height);
}

#nav {
    display: flex;
    justify-content: space-between;
    height: var(--nav-height);
    color: var(--white-color);
    font-size: 1.4rem;
    font-weight: 400;
}

#nav a {
    text-decoration: none;
    color: var(--white-color);
}

#nav ul {
    display: flex;
    margin-top: 10px;
}

#nav li {
    list-style: none;
}

#nav a:hover{
    opacity: 0.8;
}

.nav__for-shop {
    
}

.nav__shop-channel {

}


.nav__become-shop {

}

.nav__download {
    position: relative;
}

.nav__download:hover .download-app {
    display: flex;
}

.download-app {
    position: absolute;
    display: none;
    margin-top: 8px;
    width: 190px;
    background-color: var(--white-color);
    z-index: 1;
    align-items: center;
    flex-direction: column;
}

.download-app__QR {
    width: 100%;
}

.download-app__store {
    display: flex;
    justify-content: center;
}

.download-app__appstore {
    width: 40%;
}

.download-app__ggplay {
    width: 40%;
    margin-left: 8px;
}


.nav__social {
    display: flex;
}

.nav__social a {
    margin-left: 8px;
    margin-top: -2px;
    font-size: 1.6rem;
}

.nav__notify {
    margin-right: 16px;
}

.nav__notify:hover{
    cursor: pointer;
    opacity: 0.8;
}

.nav__help {
    margin-right: 16px;
}
.nav__help:hover{
    cursor: pointer;
    opacity: 0.8;
}

.nav__register {
    display: flex;
}

.sign-up {
    
}

.sign-in {

}

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}

.header__logo {
   width: 200px;
   cursor: pointer;
}

.header__logo-img {
    width: 150px;
}

.header__search-area {
    flex: 1;
}

.header__search-bar {
    margin-top: 8px;
    display: flex;
    height: 40px;
    background-color: var(--white-color);
    border-radius: 3px;
}

.search-bar__input {
    height: 100%;
    flex: 1;
    border: none;
    outline: none;
    border-radius: 3px;
    padding-left: 16px;
    font-size: 1.4rem;
    color: var(--text-color);
}   

.search-bar__btn {
    width: 62px;
    height: 34px;
    margin: auto;
    margin-right: 3px;
}

.header__cart {
    display: flex;
    width: 160px;
    color: var(--white-color);
    font-size: 2rem;
    justify-content: center;   
    cursor: pointer;
}

.header__minicategory {
    display: flex;
    list-style-type: none;
    margin-top: 4px;
}

.header__minicategory a {
    margin-right: 16px;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    opacity: 0.9;
}
